/* 공통 */
*{padding: 0; margin: 0;}
ul, li{list-style: none;}
.inner{width: 1230px; margin: 0 auto;}
/* 헤더 */
#header{width: 100%; height: 904px; line-height: 115px; position: relative; top: 0; background-image: url(../img/mainimg.png); background-repeat: no-repeat; background-size: cover; background-position: center center;}
.logo{float: left;}
.menu{width: 700px; float: right; color: #fff;}
.menu>li{float: left; padding-left: 100px;}
.menu::after{display: block; content: ""; clear: both;}
#header>.inner::after{display: block; content: ""; clear: both;}
/* 메인이미지 */
.main_text_box{width: 426px; height: 156px; color: #fff; position: absolute; top: 25%; left: 25%;}
.main_text_box>h1{font-size: 42px;}
.main_text_box>h2{font-size: 59px;}
/* 컨텐츠 */
.box1>.inner{padding-top: 53px; text-align: center;}
.box1>.inner>img{padding-bottom:34px;}
.box1>.inner>ul{width: 765px; height: 52px; background-color: #535252; border-radius: 30px; margin: 0 auto; color: #fff;}
.box1>.inner>ul>li{width: 190px; height: 52px; float: left; line-height: 52px;}
.box1>.inner>ul>li:nth-child(1){width: calc(100% / 4); height: 52px; background-color: #d8d5d5; border-radius: 30px; color: black;}
.imgset{width: 916px; margin: 0 auto; padding-top: 64px; padding-bottom: 168px;}
.imgset>div{float: left;}
.imgset>div:nth-child(1){width: calc(100% / 4 - 7.5px); height: 264px; background-image: url(../img/imgset1.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; margin-right: 10px;}
.imgset>div:nth-child(2){width: calc(100% / 4 - 7.5px); height: 264px; background-image: url(../img/imgset2.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; margin-right: 10px}
.imgset>div:nth-child(3){width: calc(100% / 4 - 7.5px); height: 264px; background-image: url(../img/imgset3.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover; margin-right: 10px;}
.imgset>div:nth-child(4){width: calc(100% / 4 - 7.5px); height: 264px; background-image: url(../img/imgset4.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.imgset::after{display: block; content: ""; clear: both;}

.box2{width: 100%; height: 420px; background-image: url(../img/box4_background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; color: #fff; font-size: 26px; position: relative;}
.box2_left{position: absolute; top: 20%; left: 30%;}
.box2_right{position: absolute; top: 15%; right: 30%;}
/* 푸터 */
#footer>.inner{width: 1230px; height: 108px;}
.footer_left{width:380px; float: left;}
.footer_left>img{padding-top: 50px; padding-right: 20px;}
.sns{width: 147px; height: 33px; float: right;padding-top: 50px;}
#footer>.inner>.sns::after{display: block; content: ""; clear: both;}